html{
	height: 100%;
}
body{
	color: black; 
	min-height: 100%;
}

.grid-conteiner{
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.grid-conteiner{
	display: grid;
	gap: 10px;
	grid-template-areas: 
	"header"
	"main"
	"aside"
	"section"
	"secdos"
	"footer"
	"sectres";
}

header{
	grid-area: header;
	background-color: #85aedd;
}

main{
	grid-area: main;
	background-color: #afd6af;
}

aside{
	width: 50%;
	grid-area: aside;
	background-color: white;
}

section{
	grid-area: section;
	background-color: #f5f5f5;
}

.secdos{
	grid-area: secdos;
	background-color: lightgoldenrodyellow;
}

.sectres{
	grid-area: sectres;
	background-color: lightgoldenrodyellow;
}

footer{
	grid-area: footer;
	background-color: #8c96a0;
}

.imagen{
	width: 70%;
}
.text-center{
	text-align: center;
}
.redess{
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	
}
.redees li{
	display: inline-block;
}